<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container-fluid">
    <h3>Sakkara Buathong</h3>
    <div class="social-links">
      <a href="https://www.facebook.com/sakkara.buathong/" class="facebook"><i
          class="fab fa-facebook-square fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/sakkara-buathong-6523591ab/" class="linkedin"><i
          class="fab fa-linkedin fa-2x"></i></a>
      <a href="https://github.com/slowback" class="github"><i class="fab fa-github fa-2x"></i></a>
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>sakkara</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="#">sakkara</a>
    </div>
  </div>

</footer><!-- End Footer -->

<!-- Script back-to-top -->
<script src='static/js/main.js'></script>

<!-- CDN AOS -->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>

</html>