{% include "header.html" %}
{% include "navbar.html" %}

<!--=========== Header Section ============-->
<section id="section-heading">
    <div class="heading">
        <h1>MY RESUME</h1>
    </div>
</section>
<!-- End Header -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid bg-about">
            <div class="section-title">
                <h2>About Me</h2>
                <i class="fas fa-ellipsis-h ellipsis-dot"></i>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <img src="static/img/myself.jpg" class="img-thumbnail content-img" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <h3>Electrical Engineering & Developer</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul style="list-style: none;">
                                <li class="li"><i class="fas fa-chevron-right"></i>
                                    <strong>Birthday: </strong><span>1 May
                                        1996</span>
                                </li>
                                <li class="li"><i class="fas fa-chevron-right"></i>
                                    <strong>Phone: </strong><span>(+66)87 394 6726</span>
                                </li>
                                <li class="li"><i class="fas fa-chevron-right"></i>
                                    <strong>City: </strong><span>Pattani</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul style="list-style: none;">
                                <li class="li"><i class="fas fa-chevron-right"></i>
                                    <strong>Age: </strong><span>25</span>
                                </li>
                                <li class="li"><i class="fas fa-chevron-right"></i>
                                    <strong>Degree: </strong><span>Bachelor</span>
                                </li>
                                <li class="li"><i class="fas fa-chevron-right"></i>
                                    <strong>Email: </strong><span>Sakkara2024@hotmail.com</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section> <!-- End About Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
        <div class="container-fluid">
            <div class="section-title">
                <h2>SKILLS</h2>
                <i class="fas fa-ellipsis-h ellipsis-dot"></i>
            </div>
            <div class="row">
                <div class="col-lg-6 skill-content">
                    <div class="skill-l">
                        <span>Python</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success bg-danger" role="progressbar"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                                80% Complete
                            </div>
                        </div>
                    </div>
                    <div class="skill-l">
                        <span>HTML</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                40% Complete
                            </div>
                        </div>
                    </div>
                    <div class="skill-l">
                        <span>CSS</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                40% Complete
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 skill-content">
                    <div class="skill-l">
                        <span>Flask</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success bg-info" role="progressbar" aria-valuenow="40"
                                aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                50% Complete
                            </div>
                        </div>
                    </div>
                    <div class="skill-l">
                        <span>SQL (postgresql)</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success bg-info" role="progressbar" aria-valuenow="40"
                                aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                50% Complete
                            </div>
                        </div>
                    </div>
                    <div class="skill-l">
                        <span>Data science, Machine Learning</span>
                        <div class="skill-ll">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success bg-success" role="progressbar"
                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                    60% pandas
                                </div>
                            </div>

                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success  bg-warning" role="progressbar"
                                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                60% scikit-learn
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section><!-- End Skill Section -->


    <!-- Resume Section -->
    <section id="resume" class="resume">
        <div class="container-fluid">
            <div class="section-title">
                <h2>RESUME</h2>
                <i class="fas fa-ellipsis-h ellipsis-dot"></i>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h3>Sumary</h3>
                    <div class="resume-item">
                        <h4>Sakkara Buathong</h4>
                        <ul>
                            <li class="li">Thailand, Pattani</li>
                            <li class="li">(+66)87 394 6726</li>
                            <li class="li">sakkara2014@hotmail.com</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Bachelor of Electrical Engineering</h4>
                        <h5>2015 - 2019</h5>
                        <p><em>Suranaree University of Technology, Nakhon Ratchasima</em></p>
                    </div>
                    <div class="resume-item">
                        <h4>Language</h4>
                        <ul>
                            <li class="li">THAI(Native)</li>
                            <li class="li">ENGLISH(Basic)</li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Experience</h3>
                    <div class="resume-item">
                        <h4>OUTSOURCE PROJECT|Self-employee</h4>
                        <h5>June 2020 - July 2020(1 month)</h5>
                        <p><em>At home</em></p>
                        <ul>
                            <li>Design Database for Human management system (HMS) to manage time Attendance,
                                Personnel,Payroll and Appraisal.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>SENIOR PROJECT|ADDVISEE</h4>
                        <h5>Dec 2018 - Feb 2019(4 month)</h5>
                        <p><em>Suraneree University</em></p>
                        <h6>Circuit Hardware simulation using MATLAB, Simulink,and DSP TMS320f28335</h6>
                        <ul>
                            <li>Create an Emperimental Kit to connect between MATLAB Simulink,DSP,and other circuit
                                board</li>
                            <li>customize firmware and Plugging in New version of Matlab software.</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>NECTEC-SUT|Staff</h4>
                        <p><em>Suraneree University</em></p>
                        <h6>Staff and coordinator event in Nectec-sut (5 days)</h6>
                        <ul>
                            <li>As a mentor in organizing activities and teaching.</li>
                            <li>Organizing a robot-themed competition.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </section><!-- End Resume Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container-fluid">
            <div class="section-title">
                <h2>Contact</h2>
                <i class="fas fa-ellipsis-h ellipsis-dot"></i>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="fas fa-map-marker-alt color-i fa-lg"></i>
                            <h4>Location: </h4>
                            <p>26 M.7 Nong Chik District, Pattani, 94170</p>
                        </div>
                        <div class="email">
                            <i class="fas fa-envelope color-i fa-lg"></i>
                            <h4>Email: </h4>
                            <p>Sakkara2014@hotmail.com
                            <p>
                        </div>
                        <div class="phone">
                            <i class="fas fa-mobile-alt color-i fa-lg"></i>
                            <h4>Call: </h4>
                            <p>(+66)87 394 6726</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div>
                        <form action="">
                            <input type="text" id="fname" placeholder="First Name" class="contact-n">
                            <input type="text" id="lname" placeholder="Last Name" class="contact-n"><br>
                            <input type="text id=" subject" placeholder="Subject" size="60" class="contact-sub"><br>
                            <textarea rows="7" cols="60" name="comment" class="contact-sub"
                                placeholder="Message"></textarea><br>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button type="button" class="btn btn-primary" data-bs-toggle="button"
                                    autocomplete="off">Send Message</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>




    </section><!-- End Contact Section -->
</main><!-- End #main -->
<!-- <div id="preloader"></div> -->
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>

{% include "footer.html" %}